@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #21364b;
  font-family: "Lora", serif;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;

  img {
    width: 10%;
  }

  ul {
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    li a {
      text-decoration: none;
      font-size: 1.2rem;
      color: white;
    }

  }

  button {
    all: unset;
    background: linear-gradient(326deg, red, #a70e0e);
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(0.9);
    }

    svg {
      color: white;
      font-weight: bold;
    }

  }

}

#home {
  padding: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #feb204;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: white;
    margin-bottom: 1rem;
  }

  h3 {
    color: white;

    span {
      color: #feb204;
    }

  }

  img {
    width: 30%;
  }

}

#register,
#login {
  padding: 4.5rem;
  color: white;

  form {
    border: 2px solid;
    width: 50%;
    margin: auto;
    padding: 1rem;
    font-size: 1.3rem;

    table tr td:nth-child(even) {
      width: 100%;
      padding: 0.3rem;

      input {
        width: calc(100% - 2rem);
        padding: 1rem;
        font-family: "Lora", serif;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        outline: none;

        &:focus {
          box-shadow: 0 0px 5px 0px #00e3ffe6;
        }

      }

    }

    button {
      width: 100%;
      padding: 0.7rem;
      margin: 0.3rem;
      background: linear-gradient(348deg, #058bf5, #0a5c81);
      border: none;
      outline: 1px solid white;
      outline-offset: -4px;
      border-radius: 0.9rem;
      font-size: 1.3rem;
      color: white;
      cursor: pointer;
      transition: all 0.2s;
      font-family: "Lora", serif;
      letter-spacing: 2px;

      &:hover {
        transform: scale(0.9);
      }

    }

  }

}

#dashboard {
  display: flex;
  height: 100%;

  #left {
    background: #181e2c;
    width: 25%;
    padding: 1.5rem;
    color: white;

    p {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    details summary::marker {
      content: "";
    }

  }

  #right {
    background: #e7f1f2;
    width: 100%;
    padding: 1.5rem;

    p {
      text-align: center;
      font-size: 2rem;
      margin: 0.5rem 0;
    }

    table {
      border: 1px solid black;
      padding: 1rem;

      tr td {
        input {
          width: calc(100% - 0.7rem);
          padding: 0.2rem;
          font-family: "Lora", serif;
          font-size: 1rem;
        }

        button {
          background: linear-gradient(348deg, #058bf5, #0a5c81);
          font-size: 1rem;
          padding: 0.3rem;
          margin-top: 0.5rem;
          color: white;
          cursor: pointer;
          font-family: "Lora", serif;
        }

      }

      button {
        width: 100%;
      }

    }

  }

  .div {
    margin-bottom: 2.5rem;
  }

}

#footer {
  color: white;
  width: 100%;
  margin: 5rem 0 0.5rem 0;

  p {
    text-align: center;
  }

}

#error {
  background: #c0dbec;
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 5rem;
  }

}

@media screen and (max-width:760px) {
  #menu {
    padding: 1.5rem;

    img {
      width: 20%;
    }

    ul li a {
      font-size: .8rem;
    }

  }

  #home {
    padding: 1.5rem;
    flex-direction: column;

    h1 {
      font-size: 1.5rem;
    }

    img {
      width: 100%;
    }

  }

  #register,
  #login {
    padding: 1rem;

    form {
      width: calc(100% - 2rem);

      table tr td:nth-child(even) {
        input {
          padding: 0.5rem;
          font-size: 1rem;
        }

      }

    }

  }

  #dashboard {
    flex-direction: column;

    #left {
      width: 100%;
    }

  }

}
